name: Run Tests

on:
  pull_request:
    branches:
      - dev
    paths:
      - "src/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/run-tests.yml"
  
  push:
    branches:
      - dev
    paths:
      - "src/**"
      - "package.json"
      - "package-lock.json"
      - ".github/workflows/run-tests.yml"
  
  workflow_dispatch:

jobs:
  test:
    name: Run Unit and Integration Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install